<ul id="nav-side" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <h4>Navigation</h4>
    </div>
  </li>
  <li routerLinkActive="active">
    <a routerLink="home">
      <i class="material-icons left">home</i>
      Home
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="pending_requests">
      <i class="material-icons left">notifications</i>
      Clearance requests
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="cleared_requests">
      <i class="material-icons left">done_all</i>
      Cleared requests
    </a>
  </li>
  <li>
    <a [routerLink]="" (click)="authService.logout()">
      <i class="material-icons left">power_settings_new</i>
      Logout
    </a>
  </li>
</ul>
