<ul id="nav-side" class="sidenav sidenav-fixed z-depth-3">
  <li>
    <div class="user-view">
      <div class="background">
        <img class="responsive-img" src="../../../../assets/images/background.jpg">
      </div>
      
      <a>
        <img class="responsive-img circle" src="../../../../assets/images/default-account-image.png" alt="">
      </a>
      <a>
        <span class="white-text name">
          {{account.first_name}} {{account.last_name}}
        </span>
      </a>
      <a>
        <span class="white-text name" style="margin-top: 0;">
          {{account.departmentId | titlecase}}
        </span>
      </a>

    </div>
  </li>
  <li routerLinkActive="active">
    <a routerLink="home">
      <i class="material-icons left">home</i>
      Home
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="pending_requests">
      <i class="material-icons left">notifications</i>
      Clearance requests
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="cleared_requests">
      <i class="material-icons left">done_all</i>
      Cleared requests
    </a>
  </li>
  <li>
    <a routerLink="change_password">
      <i class="material-icons left">lock</i>
      Change password
    </a>
  </li>
  <li>
    <a [routerLink]="" (click)="authService.logout()">
      <i class="material-icons left">power_settings_new</i>
      Logout
    </a>
  </li>
</ul>
