<ul *ngIf="user_role == 'admin'" class="collection with-header" style="margin-top: 0%">
  <li class="collection-item"><h4 class="flow-text">Navigation</h4></li>
  <a class="collection-item blue-text" routerLink="/home">
    <i class="material-icons left">home</i>
    Home
  </a>
  <a class="collection-item blue-text" routerLink="/import_student_data">
    <i class="material-icons left">create</i>
    Import student data
  </a>
  <a class="collection-item blue-text" routerLink="/register_office_user">
    <i class="material-icons left">create</i>
    Register office user
  </a>
  <a class="collection-item blue-text" routerLink="/register_student">
    <i class="material-icons left">create</i>
    Register student
  </a>
  <a class="collection-item blue-text" routerLink="/add_new_office">
    <i class="material-icons left">add</i>
    Add new office
  </a>
  <a href="" class="collection-item blue-text" (click)="authService.logout()">
    <i class="material-icons left">power_settings_new</i>
    Log out
  </a>
</ul>
