<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-2">
      <span class="card-title flow-text">
        <i class="material-icons left">lock_open</i>Reset forgotten password
      </span>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel z-depth-2">

      <form [formGroup]="form">
        <div class="row">
          <div class="input-field col s8">
            <input formControlName="username" type="text" id="username" placeholder="Username">
            <span *ngIf="form.controls.username.touched && form.controls.username.errors?.required"
                  class="helper-text red-text">Specify office username or student ID</span>
            <span *ngIf="userFound === true"
            class="helper-text green-text">User Found</span>
            <!-- we have to expilicitly check is userFound is false to avoid null case -->
            <span *ngIf="userFound === false && !form.controls.username.errors?.required"
                  class="helper-text red-text">User Not Found</span>
          </div>
          <div class="input-field col s2">
            <button [disabled]="form.invalid" class="btn"  (click)="findAccount()">
              <i class="material-icons left">search</i> Find
            </button>
          </div>
        </div>
        <div class="row" *ngIf="account && userFound === true">
          <div class="col s4">
            <button class="btn" (click)="generatePassword()">Generate Password</button>
          </div>
          <div *ngIf="generatedPassword" class="col s4">
            New Password: {{generatedPassword}}
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
