<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-2">
      <span class="card-title flow-text">
        <i class="material-icons left">lock_open</i>Reset forgotten password
      </span>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel z-depth-2">

      <form [formGroup]="form">
        <div class="row">
            <div class="input-field col s8">
              <input formControlName="username" type="text" id="username" placeholder="Username">
            </div>
          <div class="input-field col s2">
            <button [disabled]="form.invalid" class="btn"><i class="material-icons left">search</i> Find</button>
          </div>
          <div class="col s2"></div>
        </div>
      </form>


    </div>
  </div>
</div>
