<div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <h2 *ngIf="authService.userType('student')" class="flow-text custom-h2">
            <i class="material-icons left">history</i> Your clearance history
          </h2>
          <h2 *ngIf="authService.userType('office_user')" class="flow-text custom-h2">
              <i class="material-icons left">done_all</i> Cleared requests
            </h2>
        </div>
      </div> 
</div>

<div class="row" *ngIf="authService.userType('student')">
  <div class="col s12 m12 l12">
    <div class="card custom-card">
        <table>
            <tr>
              <th>
                Student Id
              </th>
              <th>
                  Student full name
                </th>
                <th>
                  Department
                </th>
                <th>Year</th>
                <th>
                  Requested for AC Year-Semester
                </th>
                <th>  
                  Date of request
                </th>
                <th>
                  Date of acceptance
                </th>
            </tr>
            <tr>
              <td>
                ATR/0101/07
              </td>
              <td>
                Abebe Kebede Tolla
              </td>
              <td>
                Electrical and computer Engineering
              </td>
              <td>
                II
              </td>
              <td>
                2018/19-II
              </td>
              <td>
                12-05-2016
              </td>
              <td>
                17-05-2019
              </td>
            </tr>

            <tr>
              <td>
                ATR/0101/07
              </td>
              <td>
                Abebe Kebede Tolla
              </td>
                <td>
                  Electrical and computer Engineering
                </td>
                <td>
                  I
                </td>
                <td>
                  2018/19-II
                </td>
                <td>
                  12-05-2016
                </td>
                <td>
                  17-05-2019
                </td>
              </tr>
            
            
        </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="authService.userType('office_user')">
  <div class="col s12 m12 l12">
    <div class="card custom-card">
        <table>
            <tr>
              <th>
                Student Id
              </th>
              <th>
                  Student full name
                </th>
                <th>
                  Department
                </th>
                <th>Year</th>
                <th>
                  Requested for AC Year-Semester
                </th>
                <th>  
                  Date of request
                </th>
                <th>
                  Date of acceptance
                </th>
            </tr>
            <tr>
              <td>
                ATR/0101/07
              </td>
              <td>
                Abebe Kebede Tolla
              </td>
              <td>
                Electrical and computer Engineering
              </td>
              <td>
                II
              </td>
              <td>
                2018/19-II
              </td>
              <td>
                12-05-2016
              </td>
              <td>
                17-05-2019
              </td>
            </tr>

            <tr>
              <td>
                ATR/0101/07
              </td>
              <td>
                Abebe Kebede Tolla
              </td>
                <td>
                  Electrical and computer Engineering
                </td>
                <td>
                  I
                </td>
                <td>
                  2018/19-II
                </td>
                <td>
                  12-05-2016
                </td>
                <td>
                  17-05-2019
                </td>
              </tr>
            
            
        </table>
    </div>
  </div>
</div>  