<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-2">
      <span class="card-title flow-text">
        <i class="material-icons left">notifications</i> Clearance requests
      </span>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel z-depth-2">

      <app-search
        [options]="searchOptions"
        (filterSelectedAndInputDone)="doSearch($event)">
      </app-search>

      <div *ngIf="isSearching">
        <table>
          <tr>
            <th>
              Student Id
            </th>
            <th>
              Student full name
            </th>
            <th>
              Requested for AC Year-Semester
            </th>
            <th>
              Date of request
            </th>
            <th>
              Action
            </th>
          </tr>

        </table>
        <app-loading
          [loadMessage]="searchMessage">
        </app-loading>
      </div>

      <div *ngIf="!isSearching">

        <table>
          <tr>
            <th>
              Student Id
            </th>
            <th>
              Student full name
            </th>
            <th>
              Requested for AC Year-Semester
            </th>
            <th>
              Date of request
            </th>
            <th>
              Action
            </th>
          </tr>

          <tr *ngFor="let request of requests;let i = index">
            <td>
              {{request.clearance.student.username}}
            </td>
            <td>
              {{request.clearance.student.first_name}}
            </td>
            <td>
              {{request.clearance.academic_year}}-{{request.clearance.semester}}
            </td>
            <td>
              {{request.clearance.created_at}}
            </td>
            <td>
              <div class="input-field">
                <button class="btn" (click)="approveRequest(request.id, i)">
                  Approve
                </button>
                <button class="btn">Review</button>
              </div>
            </td>
          </tr>
        <tr *ngFor="let request of requests;let i = index">
          <td>
            {{request.clearance.student.username}}
          </td>
          <td>
            {{request.clearance.student.first_name}}
          </td>
          <td>
            {{request.clearance.academic_year}} - {{request.clearance.semester}}
          </td>
          <td>
            {{request.createdAt | date: 'MMM d, y'}}
          </td>
          <td>
            <div class="input-field">
              <button *ngIf="request.can_approve === true"
                      class="btn" (click)="approveRequest(request.id, i)">
                Approve
              </button>

              <button *ngIf="request.can_approve === false"
                      class="btn modal-trigger" [attr.data-target]="'approve-modal' + i">
                Approve
              </button>

              <button *ngIf="request.state == this.states.PENDING"
                      class="btn modal-trigger" [attr.data-target]="'modal' + i">
                Review
              </button>
              <button *ngIf="request.state == this.states.NEED_REVIEW"
                      class="btn modal-trigger" [attr.data-target]="'modal' + i">
                In Review
              </button>
            </div>
          </td>

          <!-- modal to show that student cannot be approved cos of prerequistes -->
          <div *ngIf="request.can_approve === false"
               id="approve-modal{{i}}" class="modal">
            <div class="modal-content">
              <div class="row">
                <h4>
                  Pre-required offices not addressed
                </h4>
                <ul>
                  <li *ngFor="let departmentId of request.preconditions.departmentIds;let j = index">
                    <span>{{departmentId | uppercase}}</span>:
                    {{request.preconditions.states[j] | uppercase}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button class="modal-close waves-effect waves-green btn-flat">
                OK
              </button>
            </div>
          </div>

          <!-- modal to show reason info for a request -->
          <div *ngIf="request.state == this.states.NEED_REVIEW"
               id="modal{{i}}" class="modal">
            <div class="modal-content">
              <div class="row">
                <h4>
                  Reason for review of
                  {{request.clearance.student.first_name}} - {{request.clearance.student.username}}
                </h4>
                <p>{{request.reason}}</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="modal-close waves-effect waves-green btn-flat">
                OK
              </button>
            </div>
          </div>

          <!-- modal to send reason for a request -->
          <form *ngIf="request.state == this.states.PENDING"
                #f="ngForm" (ngSubmit)="f.valid && sendReview(f, i)">
          <div id="modal{{i}}" class="modal">
            <div class="modal-content">
              <div class="row">
                <h4>
                  Review for
                  {{request.clearance.student.first_name}} - {{request.clearance.student.username}}
                </h4>
                <div class="input-field col s12">
                  <textarea ngModel name="reason" class="materialize-textarea"
                            id="textarea{{i}}" rows="5" required>

                  </textarea>
                  <label for="textarea{{i}}">Reason for review</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="modal-close waves-effect waves-green btn-flat">
                Cancel
              </button>
              <button type="submit" [disabled]="f.invalid"
                        class="modal-close waves-effect waves-green btn-flat">
                Submit
              </button>
            </div>
          </div>
          </form>
        </tr>

          <tr *ngIf="requests && requests.length === 0">
            <td colspan="5">No Pending Requests Found</td>
          </tr>
        </table>

        <app-loading
          *ngIf="!requests"
          [loadMessage]="loadMessage">
        </app-loading>

      </div>

      </table>

      <app-pagination
        [request_url]="pagination_url"
        (reload)="populateClearances()" class="center">
      </app-pagination>

    </div>
  </div>
</div>
