<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-2">
        <span class="card-title flow-text">
          <i class="material-icons">home</i> Welcome - AAiT e-clearance system
        </span>
    </div>
  </div>

  <div *ngIf="!departments || !studentAccount" class="row">
    <app-loading [loadMessage]="onLoadMessage"></app-loading>
  </div>

  <div *ngIf="departments && studentAccount" class="row">
    <div class="col s12">
      <div class="card-panel z-depth-2">
        <h2 class="flow-text">
          Common offices
        </h2>
        <hr>
        <div class="row">
          <div *ngFor="let department of departments" class="col s12 m3">
            <div class="card z-depth-2 hoverable">
              <div class="card-image">
                <img style="height: 180px" src="{{department.picture}}">
                <b><span style="color: whitesmoke; background-color: rgba(10,10,10, 0.4);" class="card-title">{{department.description}}</span></b>
              </div>
              <div class="card-content">
                <b>Location</b><br>
                {{department.location}}<br>
                <b>Open hours</b> <br>
                {{department.openHours}}
              </div>
              <!--<div class="card-action">-->
                <!--<a href="#">This is a link</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <h2 class="flow-text">
          Your department
        </h2>
        <hr>
        <div class="row">
          <div class="col s12 m12 l6">
            <div class="card z-depth-2 hoverable">
              <div class="card-image">
                <img src="{{studentAccount.department.picture}}">
                <b><span style="color: whitesmoke; background-color: rgba(10,10,10, 0.4);"  class="card-title">{{studentAccount.department.name}}</span></b>
              </div>
              <div class="card-content">
                <b>Location</b><br>
                {{studentAccount.department.location}}<br>
                <b>Open hours</b> <br>
                {{studentAccount.department.openHours}}
              </div>
              <!--<div class="card-action">-->
              <!--<a href="#">This is a link</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
