<div class="navbar-fixed">
  <nav class="nav-wrapper blue darken-1">
    <ul class="left">
      <li><a class="flow-text" >AAiT e-clearance</a></li>
    </ul>

    <div class="customdiv">
      <ul class="right">
        <li>
          <a href="http://portal.aait.edu.et">ISIMS portal</a>
        </li>
        <li>
          <a>User manual</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="row">
  <div class="col l2"></div>
  <div class="col l8 s12">
    <div class="card">
      <form [formGroup]="form" style="padding:5%">
        <div class="input-field">
          <h2 class="flow-text"> <i class="material-icons left">lock_open</i> Login</h2>
        </div>
        <div class="input-field">
          <input formControlName="username" type="text" id="username">
          <label for="username">Username</label>
        </div>
        <div class="input-field">
          <input formControlName="password" type="password" id="password">
          <label for="password">Password</label>
        </div>
        <div class="input-field">
          <button class="btn blue" (click)="login()" >Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
