<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-2">
        <span class="card-title flow-text">
          <i class="material-icons">update</i> Clearances in progress
        </span>
    </div>
  </div>

  <div class="col s12">
    <ul class="collapsible expandable z-depth-2">
      <li *ngIf="loading.state">

          <div class="card z-depth-2">
            <div class="card-content">
              <app-loading></app-loading>
            </div>
          </div>
      </li>
      <li *ngFor="let clearance of clearances;let i = index">
        <div class="collapsible-header" style="display: block;">
          <div class="row">
            <div class="col s12 m6">{{clearance.academic_year}} semester {{clearance.semester}} clearance</div>
            <div class="col s12 m6">Reason: {{clearance.reason}}</div>
          </div>
        </div>
        <div class="collapsible-body show-always">
          <div class="row">
            <div class="col m2 center" *ngFor="let request of clearance.requests">
              <div class="col s12">
                {{request.departmentId | uppercase}}
              </div>
              <div *ngIf="request.state == states.APPROVED">
                <i class="material-icons green-text">assignment_turned_in</i>
              </div>
              <div *ngIf="request.state == states.PENDING">
                <i class="material-icons">autorenew</i>
              </div>
              <div *ngIf="request.state == states.NEED_REVIEW">
                <i class="material-icons orange-text">assignment_late</i>
              </div>
              <div class="col s12"
                   [ngClass]="{'green-text': request.state === states.APPROVED,
                               'orange-text': request.state === states.NEED_REVIEW}">
                {{request.state | uppercase}}
              </div>

              <!-- button to show reason of review-->
              <button *ngIf="request.state == states.NEED_REVIEW" class="btn orange modal-trigger"
                      [attr.data-target]="'modal-' + request.id">
                Reason
              </button>

              <!-- modal to show reason info for a request -->
              <div *ngIf="request.state == states.NEED_REVIEW"
                   id="modal-{{request.id}}" class="modal">
                <div class="modal-content">
                  <div class="row">
                    <h4>
                      Reason for review
                    </h4>
                    <p>{{request.reason}}</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="modal-close waves-effect waves-green btn-flat">
                    OK
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </li>
      <li *ngIf="clearances && clearances.length === 0">
        <div class="collapsible-header">
          <h2 class="flow-text">
            No pending clearances
          </h2>
        </div>
      </li>
    </ul>

    <app-pagination
      [request_url]="pagination_url"
      (reload)="populateClearances()">
    </app-pagination>

  </div>
</div>
