<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-2">
        <span class="card-title flow-text">
          <i class="material-icons">home</i> Syncronize local debt list
        </span>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel z-depth-2">
      <div class="row">
       <!--<div class="col s3">-->
         <!--<h2 *ngIf="account.department" class="flow-text">-->
           <!--{{account.department.name | titlecase}}-->
         <!--</h2>-->
       <!--</div>-->
        <div class="file-field input-field col">
         <h2 class="flow-text">
           <div class="btn {{account.department.debt_list ? 'blue' : 'green '}} white-text">
              <span *ngIf="account.department.debt_list">
                <i class="material-icons left" >error_outline</i> update debt list</span>

             <span *ngIf="!account.department.debt_list">
                <i class="material-icons left" >add</i>Create debt list</span>
             <input type="file" (change)="setDebtListFile($event)">
           </div>
         </h2>
        </div>
        <div *ngIf="account.department.debt_list" class="file-field input-field col">
          <h2 class="flow-text">
            <button class="btn red" (click)="removeDebtList()">
              <i class="material-icons left">
                close
              </i>
              Remove debt list
            </button>
          </h2>
        </div>
      </div>
      <div class="row" *ngIf="!debtList">

      </div>
      <div *ngIf="account.department.debt_list" class="row">
        <div *ngIf="debtList && debtList.length > 0" class="col s12">
          <table>
            <tr>
              <th>Student id</th>
              <th>Full Name</th>
              <th>Department</th>
              <th>Reason</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let debt of debtList; let i = index">
              <td><input id="{{i}}1" type="text" value="{{debt.student_id}}"></td>
              <td><input id="{{i}}2" type="text" value="{{debt.full_name}}"></td>
              <td><input id="{{i}}3" type="text" value="{{debt.department}}"></td>
              <td><input id="{{i}}4" type="text" value="{{debt.reason}}"></td>
              <td>
                <button (click)="updateSingleEntry(i, debt, debt.id)" class="btn lighten-1">
                  <i class="material-icons left">sync</i>
                  update
                </button>
                <button (click)="deletDebt(i, debt.id)" class="btn red lighten-1">
                  <i class="material-icons left">
                    delete
                  </i>
                  delete
                </button>
              </td>
            </tr>


          </table>
        </div>
      </div>

      <div *ngIf="!account.department.debt_list" class="row">
        <div class="col s12">
          <h2 class="flow-text"> <i class="material-icons left">error_outline</i> You did not set the office debt list</h2>
        </div>
      </div>

    </div>
  </div>

</div>
