<div class="row">
    <div class="col l12 s12">
      <div class="card">
        <h2 class="flow-text custom-h2">
          <i class="material-icons left">lock</i> Admin - add new office
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l12">
      <div class="card custom-card">
             <form>
               <div class="input-field">
                 <input type="text" id="office_name">
                <label for="office_name">Name of office</label>
               </div>
               <div class="input-field">
                 <textarea name="" id="description" class="materialize-textarea"></textarea>
                 <label for="description">Description</label>
               </div>
               <div class="input-field">
                <input type="file" id="picture">
                <label for="picture"></label>
               </div>
               <div class="input-field">
                 <button class="btn"><i class="material-icons left">done</i>Submit</button>
               </div>
             </form>
      </div>
    </div>
  </div>