<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-2">
      <span class="card-title flow-text">
        <i class="material-icons left">lock</i> Change password
      </span>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel z-depth-2">

      <form [formGroup]="form" >

        <div class="input-field">
          <input formControlName="oldPassword" type="Password" id="old">
          <label for="old">Old password</label>
        </div>

        <div class="input-field">
          <input formControlName="newPassword" type="password" id="new">
          <label for="new">New password</label>
        </div>

        <div class="input-field">
          <button [disabled] = "!form.get('oldPassword').valid || !form.get('newPassword').valid" class="btn" (click)="doChangePassword()" ><i class="material-icons left">done</i>Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>
